<h1 class="text-center">Jeopardy Lite</h1>

<div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage">
    {{errorMessage}} {{successMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="row">
   <div class="col-md-8">
    <table class="table table-sm table-striped table-bordered">
      <thead class="thead-inverse">
        <tr>
          <th>Question</th>
          <th>Answer</th>
          <th>Value</th>
          <th>Category</th>
        <tr>
      </thead>
      <tbody>
        <tr>
          <td>{{question?.question}}</td>
          <td>{{question?.answer}}</td>
          <td>{{question?.value}}</td>
          <td>{{question?.category.title}}</td>
        </tr>
      </tbody>
    </table>

    <p><b>What is...</b></p>
    <textarea [(ngModel)]="userAnswer" class="form-control" rows="3"></textarea><br>
    <label>User Points:</label>&nbsp; &nbsp;<label>{{userPoints}}</label><br>
    <label>User Total:</label>&nbsp; &nbsp;<label>{{userTotalPoints}}</label><br>
    <button (click)="onClickMe()">Guess</button>

  </div>
</div>