<!DOCTYPE html>
<html>
  <head>
          <title>Jeopardy Lite - The Game</title>
  </head>

    <body>
      <h1 class="text-center">Jeopardy Lite</h1>

      <div>

      <!-- Each question should display the category, point value, and the question text. -->
      <div id="category"></div>

      <div id="question"></div>

      <div id="points"></div>

      <div id="hide"></div>

      <!-- You should also have a text box that people can type their answer into -->
      <div class="answer">
        <p><b>What is...</b></p>
        <textarea id="whatis" rows="5" cols="50"></textarea>
      </div>

      <!-- There should be a button they can click to submit their answer. -->
      <div>
        <button id="guess">GUESS</button><br>
      </div>
      
      <br />
      <br />
      
      <!-- Keep track of the user's score. When the user clicks the 'guess' button, -->
      
      <div id="result"></div>

      <div id="yourscore"></div>

    </div>
    </body>

</html>