body {
    font-size: 15px;
}


.answer {
    margin-left: 15px;
}

#guess {
    font-size: 15px;
    background-color: black;
    color: white;
    margin-left: 20px;
}

#whatis {
    margin-left: 5px;
}
