body {
    background-color: pink;
    font-size: 20px;
}

.answer {
    margin-left: 20px;
}

#guess {
    font-size: 20px;
    background-color: black;
    color: white;
    margin-left: 20px;
}

#whatis {
    margin-left: 5px;
}